{!! Form::model(isset($<%= props.name %>) ? $<%= props.name %> : null,['route' => (isset($<%= props.name %>->id) ? ['<%= props.space %>.<%= props.name %>.update', $<%= props.name %>->id] : '<%= props.space %>.<%= props.name %>.store'), 'files' => true]) !!}

<%_ props.resultsQuery.forEach(function(res){ _%>
    <%_ if(res.Type.indexOf('varchar') >= 0) { _%>
    <div class="form-group">
        <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
        {!! Form::text('<%= res.Field _%>', null, ['class' => 'form-control', 'required']) !!}
    </div>
    <%_ } _%>
    <%_ if(res.Key.indexOf('MUL') >= 0) { _%>
    <div class="form-group">
        <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
        <%
            var nome = res.Field.split('_');
            nome = nome.splice(0, 2);
            nome = nome.join('_'); 
        %>
        {!! Form::select('<%= res.Field _%>', [] + $<%= nome %>s, null, ['class' => 'form-control', 'required']) !!}
    </div>
    <%_ } _%>
    <%_ if(res.Type.indexOf('int') >= 0 && res.Key.indexOf('MUL') < 0) { _%>
        <div class="form-group">
            <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
            {!! Form::number('<%= res.Field _%>', null, ['class' => 'form-control', 'required']) !!}
        </div>
    <%_ } _%>
    <%_ if(res.Type.indexOf('text') >= 0) { _%>
    <div class="form-group">
        <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
        {!! Form::textarea('<%= res.Field _%>',null, ['class' => 'form-control', 'required']) !!}
    </div>
    <%_ } _%>
    <%_ if(res.Type.indexOf('enum') >= 0) { _%>
    <div class="form-group">
        <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
        {!! Form::select('<%= res.Field _%>', [], null, ['class' => 'form-control', 'required']) !!}
    </div>
    <%_ } _%>
    <%_ if(res.Type.indexOf('date') >= 0) { _%>
    <div class="form-group">
        <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
        {!! Form::date('<%= res.Field _%>', null, ['class' => 'form-control', 'required']) !!}
    </div>
    <%_ } _%>
    <%_ if(res.Type.indexOf('decimal') >= 0 || res.Type.indexOf('float') >= 0 || res.Type.indexOf('double') >= 0) { _%>
    <div class="form-group">
        <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
        {!! Form::text('<%= res.Field _%>',null, ['class' => 'form-control', 'required']) !!}
    </div>
    <%_ } _%>
    <%_ if(res.Type.indexOf('timestamp') >= 0) { _%>
    <div class="form-group">
        <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
        {!! Form::date('<%= res.Field _%>',null, ['class' => 'form-control', 'required']) !!}
    </div>
    <%_ } _%>
<%_ }); _%>
    
@if(isset($<%= props.name %>))
    {{-- @can('<%= props.space %>.<%= props.name %>.update') --}}
        <button type="submit" class="btn btn-primary">Salvar</button>
    {{-- @endcan --}}
@else 
    {{-- @can('<%= props.space %>.<%= props.name %>.store') --}}
        <button type="submit" class="btn btn-primary">Salvar</button>
    {{-- @endcan --}}
@endif
{!! Form::close() !!}
