@extends('layouts.controle')

@section('content')
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Library</a></li>
        <li class="breadcrumb-item active"><a href="javascript:;">Data</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><%= props.nameCapitalize %> <small>header small text goes here...</small></h1>
    <!-- end page-header -->
    <div class="row">
        <div class="col-lg-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    </div>
                    <h4 class="panel-title"><%= props.nameCapitalize %></h4>
                </div>
                <div class="panel-body">
                        @if($id)
                            {!! Form::model($<%= props.name %>,['route' => 'controle.<%= props.name %>.alterar', 'files' => true]) !!}
                        @else 
                            {!! Form::model(null,['route' => 'controle.<%= props.name %>.cadastrar', 'files' => true]) !!}
                        @endif
                        <fieldset>
                            <% props.resultsQuery.forEach(function(res){ _%>
                            <% if(res.Key != 'PRI') { _%>
                                <% if(res.Type.indexOf('varchar') >= 0) { _%>

                                <div class="form-group">
                                    <label for="titulo"><%= res.Field _%>*</label>
                                    {!! Form::text('<%= res.Field _%>', null, ['class' => 'form-control', 'required']) !!}
                                </div>
                                <% } _%>
                                <% if(res.Type.indexOf('int') >= 0 && res.Field.indexOf('_id') >= 0) { _%>

                                <div class="form-group">
                                    <label for="titulo"><%= res.Field _%>*</label>
                                    {!! Form::select('<%= res.Field _%>', [], null, ['class' => 'form-control', 'required']) !!}
                                </div>
                                <% } _%>
                                <% if(res.Type.indexOf('text') >= 0) { _%>

                                <div class="form-group">
                                    <label for="titulo"><%= res.Field _%>*</label>
                                    {!! Form::textarea('<%= res.Field _%>',null, ['class' => 'form-control', 'required']) !!}
                                </div>
                                <% } _%>
                            <% } _%>
                        <% }); _%>
                            
                            
                                @if($id)
                                    @can('controle.<%= props.name %>.alterar')
                                        <button type="submit" class="btn btn-md btn-primary m-r-5">Salvar</button>
                                    @endcan
                                @else 
                                    @can('controle.<%= props.name %>.cadastrar')
                                        <button type="submit" class="btn btn-md btn-primary m-r-5">Salvar</button>
                                    @endcan
                                @endif
                            
                        </fieldset>
                    {!! Form::close() !!}

                </div> <!-- panel-body -->
                
            </div>
            <!-- end panel -->

        </div>
    </div>
    
@stop
