
    @if($id)
        {!! Form::model($<%= props.name %>,['route' => ['<%= props.space %>.<%= props.name %>.update', $id], 'files' => true]) !!}
    @else 
        {!! Form::model(null,['route' => '<%= props.space %>.<%= props.name %>.create', 'files' => true]) !!}
    @endif

    <% props.resultsQuery.forEach(function(res){ _%>

            <% if(res.Type.indexOf('varchar') >= 0) { _%>
            <div class="form-group">
                <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
                {!! Form::text('<%= res.Field _%>', null, ['class' => 'form-control', 'required']) !!}
            </div>
            <% } _%>
            <% if(res.Type.indexOf('int') >= 0 && res.Field.indexOf('_id') >= 0) { _%>
            <div class="form-group">
                <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
                {!! Form::select('<%= res.Field _%>', [], null, ['class' => 'form-control', 'required']) !!}
            </div>
            <% } _%>
            <% if(res.Type.indexOf('text') >= 0) { _%>
            <div class="form-group">
                <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
                {!! Form::textarea('<%= res.Field _%>',null, ['class' => 'form-control', 'required']) !!}
            </div>
            <% } _%>
            <% if(res.Type.indexOf('enum') >= 0) { _%>
                <div class="form-group">
                    <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
                    {!! Form::select('<%= res.Field _%>', [], null, ['class' => 'form-control', 'required']) !!}
                </div>
            <% } _%>
            <% if(res.Type.indexOf('date') >= 0) { _%>
                <div class="form-group">
                    <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
                    {!! Form::date('<%= res.Field _%>', null, ['class' => 'form-control', 'required']) !!}
                </div>
            <% } _%>
            <% if(res.Type.indexOf('decimal') >= 0 || res.Type.indexOf('float') >= 0 || res.Type.indexOf('double') >= 0) { _%>
                <div class="form-group">
                    <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
                    {!! Form::text('<%= res.Field _%>',null, ['class' => 'form-control', 'required']) !!}
                </div>
            <% } _%>
            <% if(res.Type.indexOf('timestamp') >= 0) { _%>
                <div class="form-group">
                    <label for="<%= res.Field _%>"><%= res.Field _%>*</label>
                    {!! Form::date('<%= res.Field _%>',null, ['class' => 'form-control', 'required']) !!}
                </div>
            <% } _%>
    <% }); _%>
        
    @if($id)
        {{-- @can('<%= props.space %>.<%= props.name %>.alterar') --}}
            <button type="submit" class="btn btn-primary">Salvar</button>
        {{-- @endcan --}}
    @else 
        {{-- @can('<%= props.space %>.<%= props.name %>.cadastrar') --}}
            <button type="submit" class="btn btn-primary">Salvar</button>
        {{-- @endcan --}}
    @endif
{!! Form::close() !!}
