
<a href="{{ route('<%= props.space _%>.<%= props.name _%>.create') }}">Create</a>
<table>
    <thead>
    <%_ for (var prop in props.resultsQuery ) { _%>
            <th><%= props.resultsQuery[prop].Field _%></th>
    <%_ } _%>
        <th>Opções</th>
    </thead>
    <tbody>
    @if($<%= props.name _%>s->count())
        @foreach($<%= props.name _%>s as $<%= props.name _%>)
        <tr>
            <%_ for (var prop in props.resultsQuery ) { _%>
            <td>{{ $<%= props.name _%>-><%= props.resultsQuery[prop].Field _%> }}</td>
            <%_ } _%>
            <td>
                <a href="{{ route('<%= props.space _%>.<%= props.name _%>.show', $<%= props.name _%>->id _%>) }}">Show</a>
                <a href="{{ route('<%= props.space _%>.<%= props.name _%>.edit', $<%= props.name _%>->id _%>) }}">Update</a>
                <a href="{{ route('<%= props.space _%>.<%= props.name _%>.destroy', $<%= props.name _%>->id _%>) }}">Delete</a>
            </td>
        </tr>
        @endforeach
    @endif
    </tbody>
</table>
