
    @if($id)
        {!! Form::model($<%= props.name %>,['route' => 'controle.<%= props.name %>.update', 'files' => true]) !!}
    @else 
        {!! Form::model(null,['route' => 'controle.<%= props.name %>.create', 'files' => true]) !!}
    @endif

    <% props.resultsQuery.forEach(function(res){ _%>

            <% if(res.Type.indexOf('varchar') >= 0) { _%>
            <div class="form-group">
                <label for="titulo"><%= res.Field _%>*</label>
                {!! Form::text('<%= res.Field _%>', null, ['class' => 'form-control', 'required']) !!}
            </div>
            <% } _%>
            <% if(res.Type.indexOf('int') >= 0 && res.Field.indexOf('_id') >= 0) { _%>
            <div class="form-group">
                <label for="titulo"><%= res.Field _%>*</label>
                {!! Form::select('<%= res.Field _%>', [], null, ['class' => 'form-control', 'required']) !!}
            </div>
            <% } _%>
            <% if(res.Type.indexOf('text') >= 0) { _%>
            <div class="form-group">
                <label for="titulo"><%= res.Field _%>*</label>
                {!! Form::textarea('<%= res.Field _%>',null, ['class' => 'form-control', 'required']) !!}
            </div>
            <% } _%>
            <% if(res.Type.indexOf('enum') >= 0) { _%>
                <div class="form-group">
                    <label for="titulo"><%= res.Field _%>*</label>
                    {!! Form::select('<%= res.Field _%>', [], null, ['class' => 'form-control', 'required']) !!}
                </div>
            <% } _%>
            <% if(res.Type.indexOf('enum') >= 0) { _%>
                <div class="form-group">
                    <label for="titulo"><%= res.Field _%>*</label>
                    {!! Form::select('<%= res.Field _%>', [], null, ['class' => 'form-control', 'required']) !!}
                </div>
            <% } _%>
    <% }); _%>
        
    @if($id)
        @can('controle.<%= props.name %>.alterar')
            <button type="submit" class="btn btn-primary">Salvar</button>
        @endcan
    @else 
        @can('controle.<%= props.name %>.cadastrar')
            <button type="submit" class="btn btn-primary">Salvar</button>
        @endcan
    @endif
{!! Form::close() !!}
