<table>
    <thead>
    <% for (var prop in props.resultsQuery ) { _%>
            <th><%= props.resultsQuery[prop].Field _%></th>
    <% } _%>
        <th>Opções</th>
    </thead>
    <tbody>
    @if($<%= props.name _%>s->count())
        @foreach($<%= props.name _%>s as $<%= props.name _%>)
            <tr>
        <% for (var prop in props.resultsQuery ) { _%>
                <td>{{ $<%= props.name _%>-><%= props.resultsQuery[prop].Field _%> }}</td>
        <% } _%>
            <td>
                    <a href="{{ route('controle.<%= props.name _%>.update', $<%= props.name _%>->id _%>) }}">Alterar</a>
                    <a href="{{ route('controle.<%= props.name _%>.destroy', $<%= props.name _%>->id _%>) }}">Excluir</a>
                </td>
        </tr>
        @endforeach
    @endif
    </tbody>
</table>
